<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Admin Account List!</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <h2>Account Edit Form</h2>
        <form th:action="@{/admin/account/edit}" method="post" th:object="${account_to_edit}">
            <input type="text" th:field="*{id}" hidden readonly>
            <div class="row col-12 form-container">
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="username">Username:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" readonly type="text" id="username" th:field="*{username}" >
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="not_expired">Not Expired:</label>
                    </div>
                    <div class="col-md-6">
                        <input id="not_expired" type="checkbox" th:field="*{accountNonLocked}" >
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="enabled">Enabled:</label>
                    </div>
                    <div class="col-md-6">
                        <input id="enabled" type="checkbox" th:field="*{enabled}" >
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="role_admin">Roles:</label>
                    </div>
                    <div class="col-md-2">
                        <input id="role_admin" type="checkbox" name="admin" th:checked="${role_admin}" >Admin</input>
                    </div>
                    <div class="col-md-2">
                        <input id="role_sup" type="checkbox" name="supervisor" th:checked="${role_supervisor}" >Supervisor</input>
                    </div>
                    <div class="col-md-2">
                        <input id="role_user" type="checkbox" name="user" th:checked="${role_user}" >User</input>
                    </div>
                </div>
                <hr>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="password" id="password" th:field="*{password}">
                    </div>
                </div>
                <div class="row col-md-12 form-button-row">
                    <div class="col-md-6">
                        <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>