<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="link-styles">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/page.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    </th:block>
</head>
<body>

<th:block th:fragment="navigator">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">WeddingApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/authenticated}">Authenticated</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/survey}">New Weeding</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/wedding/weddings}">My Weddings</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link" th:href="@{/admin}">Admin</a>
                        </li>
                    </ul>
                    <div th:if="${username}" class="user-identity" th:text="${username}"></div>
                    <ul class="d-flex align-content-end">
                        <li>
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
                                <button class="btn btn-outline-success">Login</button>
                            </a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                                <button class="btn btn-outline-success">Logout</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</th:block>


<th:block th:fragment="scripts">
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"/>
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"/>
</th:block>
</body>
</html>