<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task editor</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>

<main>
    <div class="container marketing">
        <hr>
        <h2>Questions about task to edit</h2>
        <form th:action="@{/tasks/edit/submit}" method="post" th:object="${task_edit}">

            <input type="number" th:field="*{id}" hidden readonly>
            <div class="row col-12 form-container">
                <div class="row col-md-12 form-input-row">
                    <div class="row col-md-12 form-input-row">
                        <div class="col-md-4">
                            <label>Task to do</label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6" th:text="*{typeOfTask.name}"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>1: When are you planning to finish this task?</label>
                    </div>
                    <div class="col-md-2">
                        <input type="date" th:min="${today}" th:field="*{deadlineDay}"/>
                    </div>
                    <div class="col-md-6">
                        <input type="time" th:field="*{timeOfTask}"/>
                    </div>
                </div>
<!--                <div class="row col-md-12 form-input-row">-->
<!--                    <div class="col-md-6">-->
<!--                        <label>2: When do you want a reminder ?</label>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <input type="date" th:field="*{reminderDay}"/>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row col-md-12 form-input-row">
                    <div class="col-md-4">
                        <label>3: Planned Cost?</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" th:field="*{plannedCost}"/>
                    </div>
                </div>
            </div>

            <div class="row col-12 form-container">
                <a  class="row col-md-4 form-input-row" th:href="@{'/tasks/' + ${taskId}}">
                <button type="button" class="btn btn-secondary col-12">Back to the task details</button>
                </a>
                <div class="col-4"></div>
                <div class="row col-md-4 form-input-row">
                    <input class="btn btn-success col-12" type="submit" value="Edit the task" >
                </div>
            </div>
        </form>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>