<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Admin Account List!</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <h2>Wedding List Page</h2>
        <div class="row col-md-12">
            <div class="row col-md-12 list-header-row">
                <div class="col-2">Id</div>
                <div class="col-3">Date</div>
                <div class="col-3">Time</div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div th:each="wedding : ${weddingsList}" class="row col-md-12 list-data-row">
                    <div class="col-2" th:text="${wedding.getId()}"></div>
                    <div class="col-3" th:text="${wedding.getDateOfWedding()}"></div>
                    <div class="col-3" th:text="${wedding.getTimeOfWedding()}"></div>

                    <div class="col-2 row">
                        <a class="col-8" th:href="@{'/wedding/details/' + ${wedding.getId()}}">
                            <button type="button" class="btn btn-warning col-12">Details</button>
                        </a></div>
                    <div class="col-2 row">
                        <a class="col-8" th:href="@{'/wedding/remove/' + ${wedding.getId()}}">
                            <button type="button" class="btn btn-danger col-12">Remove</button>
                        </a>
                    </div>

                </div>
            </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>