<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Index Page!</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <h2>Wedding details</h2>
        <div class="row col-12">
            <div class="col-md-9"></div>
            <a class="col-3" th:href="@{'/wedding/edit/' + ${wedding.id}}">
                <button type="button" class="btn btn-danger col-12">Edit wedding</button>
            </a>
        </div>
        <div class="row col-12 form-container" th:object="${wedding}">
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">Owner:</div>
                <div class="col-md-6" th:text="*{getOwner().getUsername()}"></div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">Date & time:</div>
                <div class="col-md-6" th:text="*{dateOfWedding + ' ' + timeOfWedding}"></div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">Couple:</div>
                <div class="col-md-3" th:if="*{couple != null}" th:text="*{couple.getBride()}"></div>
                <div class="col-md-3" th:if="*{couple != null}" th:text="*{couple.getGroom()}"></div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">Time of party:</div>
                <div class="col-md-6" th:text="*{timeOfWeddingParty}"></div>
            </div>
        </div>
        <h2>Wedding tasks</h2>
        <div class="row col-12">
            <div class="col-md-9"></div>
            <a class="col-3" th:href="@{'/tasks/add/' + ${wedding.id}}">
                <button type="button" class="btn btn-danger col-12">Add task</button>
            </a>
        </div>
        <div class="row col-12 form-container">
            <div class="row col-md-12">
                <div class="row col-md-12 list-header-row">
                    <div class="col-2">Id</div>
                    <div class="col-2">Reminder day</div>
                    <div class="col-2">Deadline day</div>
                    <div class="col-3">Type of task</div>
                    <div class="col-3"></div>
                </div>
                <div th:each="task : ${wedding.getTasks()}" class="row col-md-12 list-data-row">
                    <div class="col-2" th:text="${task.id}"></div>
                    <div class="col-2" th:text="${task.reminderDay}"></div>
                    <div class="col-2" th:text="${task.deadlineDay}"></div>
                    <div class="col-3" th:text="${task.typeOfTask.name}"></div>
                    <div class="col-3">
                        <a class="col-6" th:href="@{'/task/details/' + ${task.id}}">
                            <button type="button" class="btn btn-danger col-12">Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>